
/* Local fonts (DejaVu) for improved rendering without external CDNs */
@font-face{
  font-family:'DejaVu Sans Local';
  src:url('../fonts/DejaVuSans.ttf') format('truetype');
  font-weight:400; font-style:normal; font-display:swap;
}
@font-face{
  font-family:'DejaVu Sans Local';
  src:url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-weight:700; font-style:normal; font-display:swap;
}
@font-face{
  font-family:'DejaVu Serif Local';
  src:url('../fonts/DejaVuSerif.ttf') format('truetype');
  font-weight:400; font-style:normal; font-display:swap;
}
@font-face{
  font-family:'DejaVu Serif Local';
  src:url('../fonts/DejaVuSerif-Bold.ttf') format('truetype');
  font-weight:700; font-style:normal; font-display:swap;
}
